body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: white;
  text-align: center;
}
main {
  background-color: lightgreen;
  flex: 1;
  text-align: center;

}

h1 {
  font: helvetica;
  font-weight: bold;
}

footer {
  background-color: lightgray;
  text-align: center;

}
